@import "../index.css";

.taskTile {
  padding: 1em;
  border: none;
  box-shadow: -8px 6px 5px var(--bg-color1), 2px -1px 6px var(--bg-color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fg-color1);
  border-radius: 12px;
  width: 12rem;
  height: auto;
  font-family: "Indie Flower", serif;
}

.taskTile img {
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
}

.taskTitle {
  color: #f9f9f9;
  font-weight: 900;
  font-size: 2rem;
  width: 100%;
  text-shadow: -1px 1px 2px var(--fg-color1);
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  .taskTile {
    width: 10rem;
    height: 10rem;
  }

  .taskTile img {
    width: 6rem;
    height: 6rem;
  }

  .taskTitle {
    font-size: 1rem;
  }
}
