:root {
  --bg-color1: #cdb4db;
  --bg-color2: #ffc8dd;
  --fg-color1: #ffafcc;
  --fg-color2: #a2d2ff;
  --hl-color: #bde0fe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.indie-flower-regular {
  font-family: "Indie Flower", serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  background-color: var(--bg-color2);
  color: var(--fg-color1);
  font-family: "Indie Flower", serif;
  padding-bottom: 5rem;
  width: 100vw;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
